body {
  //max-width: 1280px;
  margin: auto;
  padding: 14px 0px 0px;
  box-sizing: border-box;
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  color: #333;
  background: #fff;
  padding-top: 91px;
}

.page__title {
  color: #4c5964;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 25px;
  margin-top: 0;
}
