:root {
  --maintheme: #14BEF0;
  --text-color: #383838;
  --text-color-white: #F6F6F6;
  --white: white;
}

.wrapper__federal {
  font-family: 'HelveticaNeueCyr', Helvetica, sans-serif;
  color: var(--text-color);
  margin-top: -14px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--text-color-white);
  padding-bottom: 25px;
  overflow: hidden;
  margin-top: -15px;
  position: relative;

  & ::-webkit-scrollbar-button {
    height: 25px;
  }

  & ::-webkit-scrollbar-track {
    background-color: #fff;
  }

  & ::-webkit-scrollbar-thumb {
    background-color: #949494;
    border-radius: 5px;
    border: 5px solid white;
    background-clip: padding-box;
    border-radius: 9999px;
  }

  & ::-webkit-resizer {
    height: 0px;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }
}

.section__wrapper {
  display: flex;
  // padding: 0px 35px;
  position: relative;
  justify-content: center;

  @media (max-width: 550px) {
    padding: 0px 30px;
  }

  @media (max-width: 450px) {
    padding: 0px 20px;
  }

}

.section {
  display: flex;
  //padding: 85px 0 85px 0px;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1210px;
  padding: 0px 45px;
  box-sizing: border-box;

  @media (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: center;
    // padding: 40px 0 40px 0px;
  }
}


.section__button-link--link {
  font-weight: 550;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color-white);
  padding: 12px 32px;
  //border: 1px solid #14BEF0;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
  background-color: var(--maintheme);
  letter-spacing: 0.5px;

  @media (max-width: 900px) {
    width: 100%;
    text-align: center;
    max-width: 340px;
    box-sizing: border-box;
  }

  @media (max-width: 550px) {
    font-size: 14px;
    padding: 14px 32px;
    max-width: 300px;
  }
}

.section__button-link--link:hover {
  opacity: 0.9;
  box-shadow: 0 2px 2px rgb(0 0 0 / 23%);
}

.section__button-link--link:active {
  opacity: 0.8;
}

.section__left {
  display: flex;
  flex-direction: column;

  @media (max-width: 1000px) {
    align-items: center;
    padding-bottom: 40px;
  }
}

#section-one {
  position: relative;
  // background-color: var(--maintheme);
  padding-bottom: 107px;
  padding-top: 53px;
  background: linear-gradient(89deg, #14BEF0 26.75%, #07D2DF 116.12%);
}

.section-one::before {
  content: "";
  position: absolute;
  background: #f6f6f6;
  bottom: -67%;
  height: 88%;
  left: -40%;
  right: -100px;
  border-radius: 50%;
  transform: rotateZ(5deg);
  width: 180%;
}

.section-one {
  @media (max-width: 1000px) {
    flex-wrap: wrap;
  }

}

.section-one .section__left {
  // flex-wrap: wrap;
  flex-direction: column;
  /* margin-right: -7px; */
  align-self: flex-start;
  padding-top: 13px;

  & .section__title {
    font-size: initial;
    line-height: inherit;
    color: var(--text-color-white);
    padding-bottom: 9px;
    letter-spacing: 2.5px;
  }

  & .section__main-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 30.8px;
    color: var(--text-color-white);
    padding-bottom: 35px;
    letter-spacing: 0.3px;
  }

  & .section__button-link--link {
    font-size: 16px;
    line-height: 20.8px;
    letter-spacing: 0.4px;
    color: var(--text-color);
    background-color: var(--text-color-white);
  }

}

.section-one .image_first_screen_text {
  max-width: 512px;
}

.section-one .first_screen_banner_logo {
  max-width: 582px;
}

img {
  height: auto;
  max-width: 100%;
}

.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52.8px;
  color: var(--text-color);
  padding-bottom: 24px;
  letter-spacing: 0.8px;

  @media (max-width: 900px) {
    text-align: center;
  }

  @media (max-width: 550px) {
    font-size: 30px;
  }
}

.section__title--small {
  display: none;
  max-width: 650px;

  @media (max-width: 900px) {
    display: flex;
  }
}

.section__title--big {
  @media (max-width: 900px) {
    display: none;
  }
}

.section__main-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  max-width: auto;
  letter-spacing: 1px;
  // padding: 20px 0px 20px 0;

  @media (max-width: 900px) {
    text-align: center;
  }

  @media (max-width: 550px) {
    font-size: 16px;
    max-width: 364px;
    padding: 15px 0px;
  }

}

.section__button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  /*height: 62px;
  flex: none;
  order: 2;
  flex-grow: 0;*/

  @media (max-width: 900px) {
    width: 100%;
    justify-content: center;
    margin: 0 30px;
  }

}

#section-two {
  position: relative;
  margin-top: -24px;
}

.section-two {
  padding: 0px 45px 80px 45px;
  align-items: flex-start;

  & .section__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: var(--text-color);
    padding-bottom: 20px;
    max-width: 500px;

    @media (max-width: 550px) {
      font-size: 30px;
      max-width: 375px;
    }
  }

  @media (max-width: 900px) {
    justify-content: center;
    padding: 40px 0 40px 0px;
  }

  @media (max-width: 550px) {
    justify-content: center;
    padding: 40px 0 30px 0px;
  }

  & .section__left {
    flex-direction: column;
    flex-shrink: 0;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  & .section__right {
    padding-top: 33px;

    @media (max-width: 900px) {
      order: 1
    }
  }
}

.image_section2_arrow {
  padding-left: 182px;
  padding-right: 31px;

  @media (max-width: 1000px) {
    display: none;
  }
}

.section-two .section2_logo {
  margin-top: -36px;

  @media (max-width: 1000px) {
    margin-top: 0;
  }
}

.section-two .section__left .section__button-link--link {
  font-weight: 550;
  font-size: 32px;
  line-height: 34.72px;
  padding: 3px 21px 6px 19px;
}

.section-two .section__right {
  & .section__title {
    color: #14BEF0;
  }

  & .section__button-link--link {
    font-weight: 550;
    font-size: 18px;
    line-height: 19.53px;
    padding: 7px 21px 7px 21px;
  }

  & .section__button-link {
    flex-wrap: wrap;
    gap: 12px;
  }
}

.gradient_2_1 {
  background: linear-gradient(264.74deg, #1479F0 23.33%, #07AEDF 83.95%);
}

.gradient_2_2 {
  background: linear-gradient(269.37deg, #14BEF0 26.75%, #07DFC5 116.12%);
}

.section-three {
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 15px;

  @media (max-width: 900px) {
    justify-content: center;
  }

  @media (max-width: 550px) {
    padding: 40px 0;
  }

  & .section__left {
    padding-bottom: 55px;
  }

  & .section__right {
    align-self: center;
  }
}

/* SLIDER START*/
.section__right__slider {
  display: flex;
  align-items: center;
  margin: 59px 0px 0px 0px;
  width: 100%;
  justify-content: center;
}

.slider__wrapper {
  overflow: hidden;
  margin: auto;
  margin: 0 20px;
  max-width: 80vw;

  @media (max-width: 550px) {
    max-width: 53vw;
  }
}

.main__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: 0;
  position: relative;
}

.slider__items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
  width: 100%;
  flex-shrink: 0;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  background: var(--color-light-s);
  padding-bottom: 30px;
  // cursor: pointer;
  transition: background-color .3s;
  text-align: center;
  width: 230px;
  flex-shrink: 0;

}

/*
@media (max-width: 550px) {
  .slider__item:nth-child(2), .slider__item:nth-child(3), .slider__item:nth-child(4)  {
    display: none;
  } 
}
*/


.slider__item img {
  max-width: 167px;
  height: auto;
  z-index: 1;
}

.slider__item-top {
  height: 167px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
  position: relative;
  width: 100%;
  align-items: center;
  box-sizing: content-box;
}

.slider__item-top_background {
  position: absolute;
  width: 175px;
  height: 143px;
  left: 11.5%;
  top: 24%;
  background: #9ACEF4;
  border-radius: 25.5px;
  z-index: 0;
}

.slider__arrow {
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 5px 28px rgb(11 35 98 / 7%);
  border-radius: 36.1111px;
  padding: 17px 15px 13px 15px;
}

.image_arrow-left {
  transform: rotate(-180deg);
}

.slider__item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--maintheme);
  padding-bottom: 10px;
  z-index: 1;
}

.slider__item-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  height: 50px;
  //  color: var(--maintheme);
  z-index: 1;
}

.slider__item-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  padding-top: 7px;
}

.slider__item-price_real {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color-white);
  background: #F07F40;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  padding: 4px 10px;
  text-decoration: line-through;
}

.slider__item-price_null {
  font-weight: 400;
  font-size: 21.93px;
  line-height: 28.51px;
  color: var(--text-color-white);
  background: linear-gradient(95.04deg, #1479F0 14.9%, #134EE4 80.4%);
  box-shadow: 0px 4.87273px 4.87273px rgba(0, 0, 0, 0.08);
  border-radius: 26.0902px;
  padding: 5px 17px;
  margin-left: -40px;
}

/* SLIDER END */

.section__rich {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 30px 0 20px 0;
  min-width: 390px;
  max-width: 400px;

  @media (max-width: 550px) {
    min-width: 300px;
    max-width: 300px;
  }

  @media (max-width: 450px) {
    min-width: 200px;
    padding: 30px 0 0px 0;
    min-width: auto;
    max-width: 300px;
  }
}

.section-three .section__rich {
  padding: 45px 0 45px 0;
  gap: 30px;

  @media (max-width: 550px) {
    padding: 0px 0 30px 0;
  }
}

.section__rich-item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 900px) {
    align-items: center;
    text-align: center;
  }

}

.rich__title {
  position: relative;
}

.section-two .rich__title-text {
  padding-right: 13px;

  @media (max-width: 900px) {
    padding-right: 0px;
  }
}

.rich__title-image {
  position: absolute;

  @media (max-width: 1150px) {
    display: none;
  }
}

.rich__title-icon {
  display: none;

  @media (max-width: 900px) {
    display: flex;
  }
}

.section__image-model {
  width: 100%;
  height: auto;

  @media (max-width: 900px) {
    display: none;
  }
}

.section__image-model--small {
  display: none;
  width: 100%;
  height: auto;
  max-width: 450px;

  @media (max-width: 900px) {
    display: flex;
  }
}

.section-two .section__image-model--small {
  @media (max-width: 550px) {
    margin-bottom: -80px;
    margin-top: -20px;
  }
}

.section-three .section__image-model--small {
  @media (max-width: 550px) {
    margin-bottom: -25px;
    margin-top: 15px;
  }
}

.section-three .section__left {
  padding-right: 87px;
  padding-left: 35px;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
    align-self: center;
  }
}

.section__right {
  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.section-four .section__left .section__main-text {
  padding: 30px 0px;
  max-width: 383px;

  @media (max-width: 900px) {
    display: none;
  }
}

.section-four {
  @media (max-width: 550px) {
    padding: 40px 0 30px 0px;
  }
}

.section-four .section__left .section__button-link {
  @media (max-width: 900px) {
    display: none;
  }
}

.section-four .section__right .section__button-link {
  display: none;

  @media (max-width: 900px) {
    display: flex;
  }
}

.section__rules {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 550px;

  @media (max-width: 900px) {
    padding-top: 12px;
    padding-bottom: 18px
  }

  @media (max-width: 550px) {
    gap: 10px;
  }
}

.section__rule {
  display: flex;
  align-items: flex-start;
  gap: 12px;

  &:nth-child(1) {
    display: none;

    @media (max-width: 900px) {
      display: flex;
    }
  }

  @media (max-width: 550px) {
    max-width: 330px;
  }


}

.section__rule-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;

  @media (max-width: 550px) {
    font-size: 16px;

  }
}

div .section__rule-img {
  padding-top: 2px;
  margin: 0;
}

.section-four,
.section-six,
.section-five {
  justify-content: space-evenly;
  padding-top: 45px;
  padding-bottom: 45px;
}

.federal__dropdown {
  display: flex;
  font-size: 17px;
  gap: 20px;
  align-items: center;
  flex-direction: column;

  @media (max-width: 550px) {
    width: 100%;
  }
}

.dropdown__select {
  display: flex;
  flex-direction: column;

  @media (max-width: 550px) {
    width: 100%;
  }
}

.dropdown__select select {
  padding: 5px;
  font-size: 17px;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}

#myInput {
  box-sizing: border-box;
  background-image: url("../assets/down-icon.png");
  background-position: 90% 51%;
  background-repeat: no-repeat;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 28px;
  border: 1px solid var(--maintheme);
  border-radius: 60px;
  font-weight: 600;

  @media (max-width: 550px) {
    font-size: 14px;
    padding: 15px 32px;
    width: 100%;
    background-size: 15px;
  }
}

#myInput:focus {
  outline: 3px solid var(--maintheme);
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-wrapper {
  display: flex;
  min-width: 230px;
  z-index: 1;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 254px;
  top: 30px;
  left: 0px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  max-height: 270px;
  overflow-y: scroll;
  border: 1px solid var(--maintheme);
  padding-top: 21px;
  z-index: -1;

  @media (max-width: 550px) {
    width: 65%;
    top: 48px;
    left: 9%;
  }
}

.dropdown-content li {
  color: var(--text-color);
  padding: 11px 29px;
  text-decoration: none;
  display: block;
  font-size: 15px;

  @media (max-width: 550px) {
    font-size: 14px;
  }
}

.dropdown-content li:hover {
  background-color: #f1f1f1
}

.show {
  display: block;
}

.dropdown__result-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 290px;
  align-items: center;

  @media (max-width: 900px) {
    min-width: 240px;
  }

  @media (max-width: 550px) {
    min-width: 170px;
  }

  @media (max-width: 449px) {
    min-width: 135px;
  }
}

.item__image {
  display: flex;
  align-items: center;
  min-height: 110px;
  justify-content: center;

  @media (max-width: 550px) {
    min-height: 90px;
  }

  @media (max-width: 449px) {
    min-height: 70px;
  }
}

.dropdown__result-item img {
  max-width: 240px;
  max-height: 90px;
  transition: 0.5s;

  @media (max-width: 900px) {
    max-width: 210px;
    max-height: 85px;
  }

  @media (max-width: 550px) {
    max-width: 170px;
    max-height: 75px;
  }

  @media (max-width: 449px) {
    max-width: 135px;
    max-height: 65px;
  }
}

.dropdown__result-item a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  width: fit-content;
}

.dropdown__result-item img:hover {
  transform: scale(1.1);
}

.dropdown__result {
  display: flex;
  gap: 20px 80px;
  margin-top: 42px;
  overflow-x: auto;
  padding-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 900px) {
    gap: 20px 40px;
  }
}

.section-five {
  flex-wrap: wrap;
  gap: 0px 95px;
  padding: 45px 0px;

  & .section__title {
    letter-spacing: 0.8px;
  }

  & .section__main-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    max-width: auto;
    letter-spacing: 1px;

    @media (max-width: 900px) {
      display: none;
    }
  }

  & .section__left {
    max-width: 700px;
  }

  & .section__right {
    display: flex;
    align-items: flex-end;
  }

  & .section__additional__wrapper {
    background-color: white;
    box-shadow: 0px 0px 16.6612px rgb(185 184 184 / 15%);
    border-radius: 27.7686px;
    padding: 45px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
  }
}

#section-six {
  position: fixed;
  bottom: 0;
  left: calc(50% - 244px);
  z-index: 5;
}

.section-six {
  padding: 25px 0px;

  & .section__left {
    flex-direction: row;
    align-items: center;
    gap: 16px;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 18.5px 30px;
    filter: drop-shadow(0px 4px 20px rgba(7, 10, 45, 0.17));

    & .section__title {
      padding-bottom: 0px;
      font-size: 24px;
      line-height: 31.2px;
      font-weight: 500;
    }

    & .section__term {
      margin-left: -30px;
    }
  }

  & .section__button-link--link {
    color: var(--text-color-white);
    background: var(--text-color);
    box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.15);
    padding: 20px 32px;
  }
}

.dropdown__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  // max-width: 300px;
  text-align: right;

  @media (max-width: 920px) {
    display: flex;
    padding-top: 12px;
    text-align: center;
  }

  @media (max-width: 550px) {
    font-size: 16px;
  }
}

.dropdown__text--sub {
  @media (max-width: 900px) {
    display: none;
  }
}

.section__bottom {
  width: 100%;
}

.dropdown__input-close {
  display: flex;

  @media (max-width: 550px) {
    line-height: 13px;

  }
}

.dropdown__input-close img {
  border-radius: 60px;
  padding: 12px;
  background: rgba(20, 190, 240, 0.1);
  margin-left: 10px;
  cursor: pointer;

  @media (max-width: 550px) {
    padding: 15px;
    max-width: 48px;
  }
}

.dropdown__input-close img:hover {
  background: rgba(20, 190, 240, 0.15);
}

.dropdown__input-close img:active {
  background: rgba(20, 190, 240, 0.2);
}

.dropdown__input {
  display: flex;
  align-items: flex-end;

  @media (max-width: 550px) {
    width: 100%;
  }
}

.section-six .section__right {
  position: relative;

  @media (max-width: 450px) {
    transform: scale(0.8);
    margin-top: -40px;
    margin-bottom: -40px;
  }

  @media (max-width: 350px) {
    transform: scale(0.6);
  }
}

.section__timer {
  display: flex;
  justify-content: center;
  gap: 9px;
}

.section__timer-days,
.section__timer-hours,
.section__timer-minutes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.section__timer-day,
.section__timer-comma,
.section__timer-hour,
.section__timer-minute {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
}

.section__timer-day-text,
.section__timer-hour-text,
.section__timer-minute-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
}

.section__timer-wrapper {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.section__timer-comma {
  padding-right: 2px;
  animation: timer-comma 1s ease infinite;
}

@keyframes timer-comma {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

div[data-progress] {
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 768px) {
  .wrapper_federal {
    flex-direction: column;
  }
}

/*
#section-five, #section-six {
  display: none;
}*/