:root {
  --maintheme: #14BEF0;
  --text-color: #383838;
  --text-color-white: #F6F6F6;
  --white: white;
}

.wrapper__federal {
  font-family: 'HelveticaNeueCyr', Helvetica, sans-serif;
  color: var(--text-color);
  margin-top: -14px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--text-color-white);
  padding-bottom: 25px;
  overflow: hidden;
  margin-top: -15px;
  position: relative;

  @media (min-width: 769px) {

    & ::-webkit-scrollbar-track {
      background-color: #fff;
    }

    & ::-webkit-scrollbar-button {
      height: 25px;
    }

    ::-webkit-scrollbar {
      width: 15px;
    }

    & ::-webkit-scrollbar-track {
      background-color: #fff;
    }

    & ::-webkit-resizer {
      height: 0px;
    }

    & ::-webkit-scrollbar-thumb {
      background-color: #949494;
      border-radius: 5px;
      border: 5px solid white;
      background-clip: padding-box;
      border-radius: 9999px;
    }
  }
}

.section__wrapper {
  display: flex;
  position: relative;
  justify-content: center;

}

.section {
  display: flex;
  //padding: 85px 0 85px 0px;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1210px;
  padding: 0px 45px;
  box-sizing: border-box;

  @media (max-width: 1000px) {
    flex-wrap: wrap;
    padding: 0px 30px;
  }

  @media (max-width: 550px) {
    padding: 0px 20px;
  }
}


.section__button-link--link {
  font-weight: 550;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color-white);
  padding: 12px 32px;
  //border: 1px solid #14BEF0;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
  background-color: var(--maintheme);
  letter-spacing: 0.5px;

  @media (max-width: 900px) {
    width: 100%;
    text-align: center;
    max-width: 340px;
    box-sizing: border-box;
  }

  @media (max-width: 550px) {
    font-size: 14px;
    padding: 14px 32px;
    max-width: unset;
  }
}

.section-one .section__left .section__button-link--link:hover {
  background-color: var(--text-color);
  color: var(--text-color-white);
}



a.section__button-link--link:active {
  opacity: 0.9;
}

.section__left {
  display: flex;
  flex-direction: column;
}

#section-one {
  position: relative;
  // background-color: var(--maintheme);
  padding-bottom: 107px;
  padding-top: 53px;
  background: linear-gradient(89deg, #14BEF0 26.75%, #07D2DF 116.12%);

  @media (max-width: 550px) {
    padding-bottom: 104px;
    background: linear-gradient(186.91deg, #07AEDF 22.21%, #14E3F0 86.73%);
  }
}

.section-one::before {
  content: "";
  position: absolute;
  background: #f6f6f6;
  bottom: -67%;
  height: 88%;
  left: -40%;
  right: -100px;
  border-radius: 50%;
  transform: rotateZ(5deg);
  width: 180%;

  @media (max-width: 1000px) {
    content: "";
    bottom: -74%;
    height: 81%;
    left: -97%;
    right: -50px;
    border-radius: 60%;
    transform: rotateZ(9deg);
    width: 350%;
  }
}

.section-one {
  @media (max-width: 1000px) {
    flex-wrap: wrap;
    padding-bottom: 35px;
  }

}

.section-one .section__left {
  // flex-wrap: wrap;
  flex-direction: column;
  /* margin-right: -7px; */
  align-self: flex-start;
  padding-top: 13px;

  & .section__title {
    font-size: initial;
    line-height: inherit;
    color: var(--text-color-white);
    padding-bottom: 9px;
    letter-spacing: 2.5px;
  }

  & .section__main-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 30.8px;
    color: var(--text-color-white);
    padding-bottom: 35px;
    letter-spacing: 0.3px;

    @media (max-width: 550px) {
      font-size: 16px;
      line-height: 22.4px;
    }
  }

  & .section__button-link--link {
    font-size: 16px;
    line-height: 20.8px;
    letter-spacing: 0.4px;
    color: var(--text-color);
    background-color: var(--text-color-white);

    @media (max-width: 550px) {
      font-size: 14px;
      line-height: 18.2px;
      font-weight: 600;
      letter-spacing: 0px;
    }
  }

  @media (max-width: 550px) {
    width: 100%;
  }
}

.section-one .image_first_screen_text {
  max-width: 512px;

  @media (max-width: 1000px) {
    max-width: 100%;
  }
}

.section-one .first_screen_banner_logo {
  max-width: 582px;

  @media (max-width: 1000px) {
    max-width: 100%;
  }
}

.section-one .section__left .first_screen_banner_logo {
  display: none;

  @media (max-width: 550px) {
    display: flex;
    padding-bottom: 20px;
    margin-left: -30px;
    margin-right: -25px;
    width: fit-content;
    transform: rotate(-4deg);
    max-width: 398px;
  }
}

.section-one .section__right .first_screen_banner_logo {
  @media (max-width: 550px) {
    display: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.section__title {
  font-family: 'HelveticaNeueCyrTitle', 'HelveticaNeueCyr', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 48px;
  line-height: 52.8px;
  color: var(--text-color);
  padding-bottom: 24px;
  letter-spacing: 0.8px;
  cursor: default;

  @media (max-width: 550px) {
    font-size: 32px;
    line-height: 35.2px;
  }
}

.section__title--small {
  display: none;
  max-width: 650px;

  @media (max-width: 900px) {
    display: flex;
  }
}

.section__title--big {
  @media (max-width: 900px) {
    display: none;
  }
}

.section__main-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  max-width: auto;
  letter-spacing: 0px;
  // padding: 20px 0px 20px 0;

  @media (max-width: 550px) {
    font-size: 16px;
    line-height: 20.8px;
  }

}

.section__button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: fit-content;

  @media (max-width: 900px) {
    width: 100%;
  }

}

#section-two {
  position: relative;
  margin-top: -24px;

  @media (max-width: 550px) {
    margin-top: -33px;
  }
}

.section-two {
  padding: 0px 45px 80px 45px;
  align-items: flex-start;

  & .section__title {
    font-weight: 550;
    font-size: 40px;
    line-height: 44px;
    color: var(--text-color);
    padding-bottom: 20px;
    max-width: 500px;

    @media (max-width: 550px) {
      font-size: 32px;
      line-height: 37.2px;
      padding-bottom: 10px;
      letter-spacing: 0.5px;
    }

  }

  @media (max-width: 900px) {
    padding: 40px 30px 40px 30px;
  }

  @media (max-width: 550px) {
    padding: 40px 20px 35px 20px;
  }

  & .section__left {
    flex-direction: column;
    flex-shrink: 0;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  & .section__right {
    padding-top: 33px;

    @media (max-width: 550px) {
      padding-top: 67px;
    }
  }

  & .section__button-link {
    align-items: center;
  }
}

.image_section2_arrow {
  padding-left: 182px;
  padding-right: 31px;

  @media (max-width: 1000px) {
    display: none;
  }

  @media (max-width: 550px) {
    display: flex;
    padding-left: 40px;
    padding-right: 0;
    transform: matrix(0.67, 0.74, 0.74, -0.67, 0, 0);
    max-width: 150px;
    padding-bottom: 53px;
  }
}

.section-two .section2_logo {
  margin-top: -36px;
  max-width: 113px;

  @media (max-width: 1000px) {
    margin-top: 0;
  }

  @media (max-width: 550px) {
    margin-top: -47px;
    max-width: 105px;
  }
}

.section-two .section__left .section__button-link--link {
  font-weight: 550;
  font-size: 32px;
  line-height: 34.72px;
  padding: 3px 21px 6px 19px;

  @media (max-width: 550px) {
    font-size: 24px;
    line-height: 26.04px;
    padding: 5px 15px 5px 15px;
  }

}

.section-two .section__right {
  & .section__title {
    color: #14BEF0;

    @media (max-width: 550px) {
      padding-bottom: 17px;
    }
  }

  & .section__button-link--link {
    font-weight: 550;
    font-size: 18px;
    line-height: 19.53px;
    padding: 7px 21px 7px 21px;

    @media (max-width: 550px) {
      font-size: 14px;
      line-height: 16.1px;
    }
  }

  & .section__button-link {
    flex-wrap: wrap;
    gap: 12px;
    cursor: default;

    @media (max-width: 550px) {
      gap: 8px;
    }
  }
}

.gradient_2_1 {
  background: linear-gradient(264.74deg, #1479F0 23.33%, #07AEDF 83.95%);
}

.gradient_2_2 {
  background: linear-gradient(269.37deg, #14BEF0 26.75%, #07DFC5 116.12%);
}

.section-three {
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 15px 54px 15px;

  @media (max-width: 900px) {
    justify-content: center;
  }

  @media (max-width: 550px) {
    padding: 40px 20px;
  }

  & .section__left {
    padding-bottom: 55px;
  }

  & .section__right {
    align-self: flex-start;
  }

  & .section__title {
    @media (max-width: 550px) {
      max-width: 250px;
      padding-bottom: 17px;
    }
  }

  & .section__main-text {
    @media (max-width: 550px) {
      max-width: 310px;
    }
  }
}

/* SLIDER START*/
.section__right__slider {
  display: flex;
  align-items: center;
  margin: 10px 0px 0px 0px;
  width: 100%;
  justify-content: center;

  @media (max-width: 550px) {
    margin: -6px 0px 0px 0px;
  }
}

.slider__wrapper {
  overflow-x: hidden;
  margin: auto;
  margin: 0 20px;
  max-width: 80vw;
  transition: 0.5s;
  //overflow-y: visible;
  padding-top: 50px;

  @media (max-width: 550px) {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: 0;
    max-width: 100vw;
    transition: 0.5s;
    padding-top: 50px;
    margin-left: -20px;
  }
}

.slider__wrapper:hover {

  transition: 0.5s;
}

.main__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  padding: 0;
  position: relative;
  flex-direction: column;

  @media (max-width: 550px) {
    width: auto;
  }
}

.slider__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  width: 100%;
  flex-shrink: 0;

  @media (max-width: 550px) {
    gap: 15px;
  }
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFAFA;
  background: var(--color-light-s);
  padding-bottom: 30px;
  cursor: pointer;
  transition: background-color .3s;
  text-align: center;
  width: 230px;
  flex-shrink: 0;
  text-decoration: none;
  color: var(--text-color);
}

.slider__item:hover {
  @media (min-width: 551px) {
    & .slider__item_image {
      max-width: 215px;
      margin-bottom: -15px;
    }

    & .slider__item-top_background {
      background: #14BEF0;
      width: 228px;
      height: 326px;
      left: 0.5%;
      top: 14%;
    }

    & .slider__item-title {
      color: var(--text-color-white);
    }

    & .slider__item-subtitle {
      color: var(--text-color-white);
    }
  }
}

.slider__item.active {
  @media (max-width: 550px) {

    & .slider__item_image {
      max-width: 215px;
      margin-bottom: -15px;
    }

    & .slider__item-top_background {
      background: #14BEF0;
      width: 228px;
      height: 326px;
      left: 0.5%;
      top: 14%;
    }

    & .slider__item-title {
      color: var(--text-color-white);
    }

    & .slider__item-subtitle {
      color: var(--text-color-white);
    }

  }
}

.slider__item[data-pet='1'] .slider__item-title,
.slider__item[data-pet='1'] .slider__item-subtitle {
  @media (min-width: 769px) {
    letter-spacing: -0.5px;
  }
}

.slider__item img {
  max-width: 167px;
  height: auto;
  z-index: 1;
  transition: 0.3s;
}

.slider__item-top {
  height: 167px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
  position: relative;
  width: 100%;
  align-items: center;
  box-sizing: content-box;
}

.slider__item-top_background {
  position: absolute;
  width: 175px;
  height: 143px;
  left: 11.5%;
  top: 24%;
  background: #9ACEF4;
  border-radius: 25.5px;
  z-index: 0;
  transition: 0.3s;
}

.slider__arrow {
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 5px 28px rgb(11 35 98 / 7%);
  border-radius: 36.1111px;
  padding: 16.5px 15px 15.5px 15px;
  display: flex;

  @media (max-width: 550px) {
    display: none;
  }
}

div.slider__arrow img {
  max-height: 17px;
}

.image_arrow-left {
  transform: rotate(-180deg);
}

.slider__item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--maintheme);
  padding-bottom: 10px;
  z-index: 1;
  transition: 0.3s;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 23.4px;
  }
}

.slider__item-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  height: 50px;
  //  color: var(--maintheme);
  z-index: 1;
  transition: 0.3s;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 20.8px;
  }
}

.slider__item-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  padding-top: 7px;
}

.slider__item-price_real {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color-white);
  background: #F07F40;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  padding: 2px 9px;
  text-decoration: line-through;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 20.8px;
  }
}

.slider__item-price_null {
  font-weight: 400;
  font-size: 21.93px;
  line-height: 28.51px;
  color: var(--text-color-white);
  background: linear-gradient(95.04deg, #1479F0 14.9%, #134EE4 80.4%);
  box-shadow: 0px 4.87273px 4.87273px rgba(0, 0, 0, 0.08);
  border-radius: 26.0902px;
  padding: 3px 17px;
  margin-left: -39px;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 23.4px;
  }
}

.pagination__items {
  display: flex;
  flex-direction: row;
  gap: 4px;

  @media (min-width: 551px) {
    display: none;
  }
}

.pagination__item {
  background: #E6E6E6;
  border-radius: 20px;
  padding: 4px;
  transition: 0.3s;
}

.pagination__item.active {
  background: linear-gradient(264.74deg, #14BEF0 23.33%, #07AEDF 83.95%);
  padding: 4px 10px;
}

/* SLIDER END */

.section__rich {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 30px 0 20px 0;
  min-width: 390px;
  max-width: 400px;

  @media (max-width: 550px) {
    min-width: 300px;
    max-width: 300px;
  }

  @media (max-width: 450px) {
    min-width: 200px;
    padding: 30px 0 0px 0;
    min-width: auto;
    max-width: 300px;
  }
}

.section-three .section__rich {
  padding: 45px 0 45px 0;
  gap: 30px;

  @media (max-width: 550px) {
    padding: 0px 0 30px 0;
  }
}

.section__rich-item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 900px) {
    align-items: center;
    text-align: center;
  }

}

.rich__title {
  position: relative;
}

.section-two .rich__title-text {
  padding-right: 13px;

  @media (max-width: 900px) {
    padding-right: 0px;
  }
}

.rich__title-image {
  position: absolute;

  @media (max-width: 1150px) {
    display: none;
  }
}

.rich__title-icon {
  display: none;

  @media (max-width: 900px) {
    display: flex;
  }
}

.section__image-model {
  width: 100%;
  height: auto;

  @media (max-width: 900px) {
    display: none;
  }
}

.section__image-model--small {
  display: none;
  width: 100%;
  height: auto;
  max-width: 450px;

  @media (max-width: 900px) {
    display: flex;
  }
}

.section-two .section__image-model--small {
  @media (max-width: 550px) {
    margin-bottom: -80px;
    margin-top: -20px;
  }
}

.section-three .section__image-model--small {
  @media (max-width: 550px) {
    margin-bottom: -25px;
    margin-top: 15px;
  }
}

.section-three .section__left {
  padding-left: 31px;

  @media (max-width: 900px) {
    flex-direction: column;
    padding-left: 0px;
    padding-bottom: 20px;
  }
}

.section__right {
  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

section.section-four {
  flex-direction: column;
  align-items: flex-start;

  & .section__title {
    padding-bottom: 81px;

    @media (max-width: 550px) {
      padding-bottom: 32px;
    }
  }

  @media (max-width: 550px) {
    padding: 33px 20px 45px 20px;
  }

  & .section__right {
    padding-left: 15px;

    @media (max-width: 550px) {
      padding-left: 0px;
    }
  }

  & .section__left {
    @media (max-width: 550px) {
      width: 100%;
    }
  }
}

.section-four .section__right {
  & .section__main-text {
    max-width: 571px;
    opacity: 0.5;
    padding-bottom: 32px;
  }

  & .section__button-link--link {
    color: var(--maintheme);
    background-color: transparent;
    text-decoration: underline;
    padding-left: 0;

    @media (max-width: 900px) {
      border: 1px solid var(--maintheme);
      text-decoration: none;
      padding-left: 32px;
      color: var(--text-color);
    }

    @media (max-width: 550px) {
      padding: 9px 32px;
      letter-spacing: 0.2px;
    }
  }

  & .section__main-text {
    @media (max-width: 550px) {
      font-size: 12px;
      line-height: 15.6px;
    }
  }
}

.section-four .section__right .section__button-link--link:hover {
  @media (max-width: 900px) {
    background-color: var(--maintheme);
    color: var(--text-color-white);
  }
}

.section__rules {
  display: grid;
  gap: 37px 58px;
  padding-bottom: 46px;
  padding-left: 12px;
  max-width: 815px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  position: relative;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 550px) {
    padding-bottom: 17px;
    padding-left: 0px;
    gap: 16px 58px;
  }
}

.section__rule-wrapper {
  position: relative;
}

.section__rule {
  display: flex;
  align-items: center;
  max-width: 370px;
  position: relative;
  background: var(--text-color-white);
  border: 0.2px solid #E4E4E4;
  box-shadow: 0px 4px 20px rgba(0, 31, 77, 0.04);
  border-radius: 20px;
  overflow: hidden;
  height: 160px;
  justify-content: space-between;

  @media (max-width: 1000px) {
    background: var(--white);
  }

  @media (max-width: 550px) {
    max-width: 338px;
    height: 114px;
    gap: 0px;
    width: 100%;
    max-width: unset;
  }

}

.section__rule-wrapper:nth-child(1) {
  & .section__rule-img {
    max-width: 122px;

    @media (max-width: 550px) {
      margin: 0;
      max-width: 105px;
    }

  }
}

.section__rule-wrapper:nth-child(2) {
  & .section__rule-img {
    margin: 0;
    padding-bottom: 30px;
    margin-left: -10px;
    max-width: 144px;

    @media (max-width: 550px) {
      padding-bottom: 0px;
      margin-left: -8px;
      max-width: 115px;
    }
  }
}

.section__rule-wrapper:nth-child(3) {
  & .section__rule-img {
    margin: 0;
    align-self: flex-end;
    margin-left: -20px;
    max-width: 175px;

    @media (max-width: 550px) {
      align-self: center;
      margin-left: -25px;
      margin-bottom: -17px;
      /* margin-left: -8px; */
      max-width: 149px;
    }
  }
}

.section__rule-wrapper:nth-child(4) {
  z-index: 2;


  & .section__rule-img {
    align-self: flex-end;
    margin: 0;
    max-width: 123px;

    @media (max-width: 550px) {
      align-self: flex-start;
      max-width: 103px;
      padding-top: 17px;
    }
  }
}

.section__rule-wrapper:nth-child(5) {
  z-index: 2;

  @media (min-width: 1001px) {
    & .section__rule {
      background: rgb(246 246 246 / 75%);
    }
  }

  & .section__rule .section__rule-img {
    display: none;
    max-width: 170px;
    margin: 0;

    @media (max-width: 1000px) {
      display: inline-block;
      max-width: 185px;
      margin-right: -22px;
    }

    @media (max-width: 550px) {
      display: flex;
      max-width: 160px;
      padding-right: 0;
      margin-right: 0;
      transform: rotate(-4deg);
    }
  }
}

.highlited {
  color: var(--maintheme);
}

.nowrap {
  white-space: nowrap;
}

.section__rule-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  max-width: 227px;
  padding-left: 24px;

  @media (max-width: 550px) {
    font-size: 14px;
    line-height: 18.2px;
    padding-left: 22px;
  }
}

.section__rule-number {
  font-size: 18px;
  padding: 10.5px 16px;
  border-radius: 100px;
  background-color: var(--text-color);
  color: var(--text-color-white);
  position: absolute;
  top: -13px;
  left: -13px;
  z-index: 1;

  @media (max-width: 550px) {
    display: none;
  }
}

.section__rule-img.big_img {
  position: absolute;
  top: 13%;
  right: -82%;
  max-width: 465px;

  @media (max-width: 1000px) {
    display: none;
  }
}

.section__rule-img.big_img.circle {
  top: 21%;
  right: -41%;
  max-width: 533px;

  @media (max-width: 1000px) {
    display: none;
  }
}

.section-four,
.section-six,
.section-five {
  padding-top: 45px;
  padding-bottom: 45px;
}

.federal__dropdown {
  display: flex;
  font-size: 17px;
  gap: 20px;
  align-items: center;
  flex-direction: column;

  @media (max-width: 550px) {
    width: 100%;
  }
}

.dropdown__select {
  display: flex;
  flex-direction: column;

  @media (max-width: 550px) {
    width: 100%;
  }
}

.dropdown__select select {
  padding: 5px;
  font-size: 17px;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}

#myInput {
  box-sizing: border-box;
  background-image: url("../assets/down-icon.png");
  background-position: 90% 51%;
  background-repeat: no-repeat;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 28px;
  border: 1px solid var(--maintheme);
  border-radius: 60px;
  font-weight: 600;
  cursor: pointer;

  @media (max-width: 550px) {
    font-size: 14px;
    padding: 12px 32px;
    width: 100%;
    background-size: 15px;
  }
}

#myInput:focus {
  outline: 0px solid var(--maintheme);
  background-color: var(--text-color-white);
  //color: var(--text-color-white);
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-wrapper {
  display: flex;
  min-width: 230px;
  z-index: 1;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 258px;
  top: 28px;
  left: 0px;
  margin: 0;
  padding: 23px 0 10px 15px;
  cursor: pointer;
  max-height: 270px;
  overflow-y: scroll;
  z-index: -1;
  /* background: #FFFFFF; */
  box-shadow: 0px 2px 20px rgb(0 0 0 / 5%);
  border-radius: 0px 0px 28px 28px;


  @media (max-width: 550px) {
    width: 69%;
    top: 42px;
    left: 6%;
    padding-top: 5px;
  }
}

.dropdown-content li {
  padding: 14px 29px 14px 14px;
  text-decoration: none;
  display: block;
  font-size: 15px;

  @media (max-width: 550px) {
    padding: 15px 29px 15px 14px;
    font-size: 14px;
  }
}

.dropdown-content li:hover {
  background-color: #f1f1f1
}

.show {
  display: block;
}

.dropdown__result-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 290px;
  align-items: center;

  @media (max-width: 900px) {
    min-width: 240px;
  }

  @media (max-width: 550px) {
    min-width: 170px;
  }

  @media (max-width: 449px) {
    min-width: 135px;
  }
}

.item__image {
  display: flex;
  align-items: center;
  min-height: 110px;
  justify-content: center;

  @media (max-width: 550px) {
    min-height: 90px;
  }

  @media (max-width: 449px) {
    min-height: 70px;
  }
}

.dropdown__result-item img {
  max-width: 240px;
  max-height: 90px;
  transition: 0.5s;

  @media (max-width: 900px) {
    max-width: 210px;
    max-height: 85px;
  }

  @media (max-width: 550px) {
    max-width: 170px;
    max-height: 75px;
  }

  @media (max-width: 449px) {
    max-width: 135px;
    max-height: 65px;
  }
}

.dropdown__result-item a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  width: fit-content;
}

.dropdown__result-item img:hover {
  transform: scale(1.1);
}

.dropdown__result {
  display: flex;
  gap: 20px 80px;
  margin-top: 42px;
  overflow-x: auto;
  padding-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 900px) {
    gap: 20px 40px;
  }

  @media (max-width: 550px) {
    gap: 20px 30px;
    margin-top: 27px;
    padding-bottom: 0;
  }
}

.section-five {
  flex-wrap: wrap;
  gap: 0px 95px;
  padding: 20px 0px;

  @media (max-width: 1200px) {
    padding: 45px 30px;
  }

  @media (max-width: 1000px) {
    padding: 45px 20px;
  }

  @media (max-width: 550px) {
    padding: 34px 20px 45px 20px;
  }

  & .section__title {
    letter-spacing: 0.8px;
    padding-bottom: 21px;

    @media (max-width: 1155px) {
      padding-bottom: 16px;
    }

    @media (max-width: 550px) {
      letter-spacing: 0.5px;
    }
  }

  & .section__main-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    max-width: auto;

    @media (max-width: 550px) {
      letter-spacing: 0px;
      font-size: 16px;
      line-height: 20.8px;
    }
  }

  & .section__right {
    display: flex;
    align-items: flex-end;
  }

  & .section__additional__wrapper {
    background-color: white;
    box-shadow: 0px 0px 16.6612px rgb(185 184 184 / 15%);
    border-radius: 27.7686px;
    padding: 37px 45px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;

    @media (max-width: 550px) {
      padding: 24px;
    }
  }

  & .section__left {
    @media (max-width: 1155px) {
      padding-bottom: 32px;
    }

    @media (max-width: 550px) {
      padding-bottom: 32px;
    }
  }
}

#section-six {
  position: fixed;
  bottom: 0;
  left: calc(50vw - 248.2px);
  z-index: 15000;

  @media (max-width: 550px) {
    left: calc(50vw - 164.2px);
  }
}

.section-six {
  padding: 25px 0px;

  & .section__left {
    flex-direction: row;
    align-items: center;
    gap: 16px;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 18px 30px;
    filter: drop-shadow(0px 4px 20px rgba(7, 10, 45, 0.17));

    @media (max-width: 550px) {
      padding: 0px 15px 0px 0px;
      gap: 8px;
    }

    & .section__title {
      padding-bottom: 0px;
      font-size: 24px;
      line-height: 31.2px;
      font-weight: 500;
    }

    & .section__term {
      margin-left: -31px;

      @media (max-width: 550px) {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
      }
    }
  }

  & .section__button-link--link {
    color: var(--text-color-white);
    background: var(--text-color);
    box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.15);
    padding: 20px 32px;

    @media (max-width: 550px) {
      font-size: 12px;
      line-height: 15.6px;
      padding: 10px 16px;
    }
  }
}

.dropdown__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  text-align: right;

  @media (max-width: 920px) {
    display: flex;
    padding-top: 12px;
    text-align: center;
  }

  @media (max-width: 550px) {
    font-size: 16px;
  }
}

.dropdown__text--sub {
  @media (max-width: 900px) {
    display: none;
  }
}

.section__bottom {
  width: 100%;
}

.dropdown__input-close {
  display: flex;

  @media (max-width: 550px) {
    line-height: 13px;

  }
}

.dropdown__input-close img {
  border-radius: 60px;
  padding: 12px;
  background: rgba(20, 190, 240, 0.1);
  margin-left: 10px;
  cursor: pointer;

  @media (max-width: 550px) {
    padding: 9px;
    max-width: 48px;
  }
}

.dropdown__input-close img:hover {
  background: rgba(20, 190, 240, 0.15);
}

.dropdown__input-close img:active {
  background: rgba(20, 190, 240, 0.2);
}

.dropdown__input {
  display: flex;
  align-items: flex-end;

  @media (max-width: 550px) {
    width: 100%;
  }
}

.section__timer {
  display: flex;
  justify-content: center;
  gap: 9px;
}

.section__timer-days,
.section__timer-hours,
.section__timer-minutes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.section__timer-day,
.section__timer-comma,
.section__timer-hour,
.section__timer-minute {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;

  @media (max-width: 550px) {
    font-size: 12px;
    line-height: 15.6px;
  }
}

.section__timer-day-text,
.section__timer-hour-text,
.section__timer-minute-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;

  @media (max-width: 550px) {
    font-size: 12px;
    line-height: 15.6px;
  }
}

.section__timer-wrapper {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;

  @media (max-width: 550px) {
    font-size: 12px;
    line-height: 15.6px;
  }
}

.section__timer-comma {
  padding-right: 2px;
  animation: timer-comma 1s ease infinite;

  @media (max-width: 550px) {
    max-width: 7px;
    padding-right: 0px;
  }
}

@keyframes timer-comma {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

div[data-progress] {
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 768px) {
  .wrapper_federal {
    flex-direction: column;
  }
}

/*
#section-five, #section-six {
  display: none;
}*/