@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --black: #333;
    --white: #fff;
    --grey-dark: #828282;
    --grey-light: #C4C4C4;
    --gold: #BDAE82;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.04em;
        
    color: var(--black); 
    min-height: 100vh;
    margin: 0;
    padding: 0;
   
    
}
a {
    text-decoration: none;
}

img{
    max-width: 100%;
        height: auto;
        width: auto;
}
/*
.wrapper_outer {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0px;
    
}*/
.wrapper {
 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
   /* overflow: hidden;*/
    position: relative;
}
header{
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}
.container{
max-width: 1390px;
margin: 0 auto;
padding: 0px;

}
.header_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    

}

.top_menu{
    margin-left: auto;
    margin-right: 7.5px;
}

.logo{
       
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        padding: 12px 0;
}
.top_menu_item{
/*height: 24px;
width: 24px;*/
padding-left: 28px;
}

.main_block_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
