:root {
    --white: #fff;
    --maintheme: #9d75c2;
    --black: #333;
   }
   *,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
input,button,textarea{font-family:inherit;}
textarea:focus{
    border: 1px solid var(--maintheme);
    outline: 1px solid var(--maintheme);
    border-radius: 3px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
h1{
    font-weight: normal;
    font-size: 2.5em;
    color: var(--maintheme);
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;color:inherit}
button{cursor: pointer;}
a, a:visited, a:link{text-decoration: none;color:inherit;}
a:hover{text-decoration: none;}
nav,footer,header,aside{display: block;}

.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 50vh;

}
.use-keyboard-input{
    position: absolute; top: 130px; right: 30px;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
}



.footer__container{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   /* padding: 20px 20px;*/
}
.footer-copyright__element{
    display: flex;
    align-items: center;
   line-height: 2.5rem;
}
.copyright {
    padding-right: 20px;

}

.github-username, .rss{
    //color: var(--black);
    text-decoration: none;
    padding: 0 20px;
    transition: 0.3s;
}

    @media (max-width: 768px){
     

        .footer__container{
            flex-wrap: wrap;

            > div, a, p {
                line-height: 2.5rem;
            } 
        }
        
        }

    